# Python Programming Mastery: From Beginner to Pro

## Basics of Python

In [7]:
print(f"My Name is Niraj")
print('Hello World')
print("Hello Python")
print(25)
print(25+35)
print("Hello","World")
print("Hello","World", 25)
print(5>10)

My Name is Niraj
Hello World
Hello Python
25
60
Hello World
Hello World 25
False

## Variables & DataTypes

### Variables

In [20]:
val1,val2 = 10,20
print(val1)
print(val2)
print(val1+val2)

# Camel Case
firstName = "Niraj"
lastName = "Khankari"

# Other Cases
firstname = "Niraj"
last_name = "Khankari"
FirstName = "Niraj"

10
20
30

In [24]:
str1 = "Niraj"
print(str1)
print(f"My Name is {str1}")

Niraj
My Name is Niraj

In [26]:
marks = 89.0
print(f"The marks are {marks}")

The marks are 89.0

In [28]:
a,b,c = 10,20,30
print(a, id(a))
print(b, id(b))
print(c, id(c))

10 140731417836248
20 140731417836568
30 140731417836888

### Strings

In [48]:
str1 = "Niraj"
str2 = "Python"
str3 = '''Niraj is Learning Python Programming'''
str4 = str1 + str2 


print(str1+str2)
print(str3)
print(str1+" "+ str2)
print(str4)

print(10+15)
print("10+15")

NirajPython
Niraj is Learning Python Programming
Niraj Python
NirajPython
25
10+15

### Datatypes

In [16]:
# Integer 
num1 = 10
print(num1, type(num1))

# Float
num2 = 20.34
print(num2, type(num2))

# Complex
num3 = 10j
print(num3, type(num3))

# String
demoStr = "Hello Python"
print(demoStr, type(demoStr))

# List
students = ["Raju","Kaju"]
print(students, type(students))
print(students[1])

# Tuple
stuDetails = ("Rajesh","Brijesh","Suresh","Mahesh")
print(stuDetails, type(stuDetails))
print(stuDetails[0])

# Dictionary
student = {
    "name" : "Niraj",
    "age" : 21,
    "Standard" : "Final Year B.Tech",
    "Salary" : 0
}
print(student, type(student))
print(student["Salary"])

# Set
StuData = {17,20,100}
print(StuData, type(StuData))

10 <class 'int'>
20.34 <class 'float'>
10j <class 'complex'>
Hello Python <class 'str'>
['Raju', 'Kaju'] <class 'list'>
Kaju
('Rajesh', 'Brijesh', 'Suresh', 'Mahesh') <class 'tuple'>
Rajesh
{'name': 'Niraj', 'age': 21, 'Standard': 'Final Year B.Tech', 'Salary': 0} <class 'dict'>
0
{17, 100, 20} <class 'set'>

## Operators

### Arithmetic Operators

In [25]:
a = 10
b = 20

print("Addition : ", a + b)
print("Subtraction :", a - b)
print("Mutltiplication : ", a * b)
print("Division : ", a / b)
print("Floor Division : ", a // b)
print("Exponent : ", a ** b)
print("Modulus : ", a % b)

Addition :  30
Subtraction : -10
Mutltiplication :  200
Division :  0.5
Floor Division :  0
Exponent :  100000000000000000000
Modulus :  10

### Assignment Operator

In [50]:
a = 6
b = 5

print(a==b)
print(a!=b)

#a+=b
#print(a)

a = a + b
print(a)

False
True
11

### Comparison Operators

In [61]:
a = 10
b = 30

print("a==b", a==b)
print("a!=", a!=b)
print("a>b",a>b)
print("a<b",a<b)
print("a>=",a>=b)
print("a<=b", a<=b)

a==b False
a!= True
a>b False
a<b True
a>= False
a<=b True

### Logical Operators

In [71]:
a = 10
b = 11

print("AND Operator", a<b and a>b)
print("OR Operator", a<b or a>b)
print("NOT Operator", not a>b)

print()

print("AND Operator", a<b and a<=b)
print("OR Operator", a<b or a>=b)
print("NOT Operator", not a>=b)

AND Operator False
OR Operator True
NOT Operator True

AND Operator True
OR Operator True
NOT Operator True

### Membership Operators

In [77]:
string = "I am Working on Python"
print("python" in string)
print("Python" in string)
print("pthon" not in string)

False
True
True

### Identity Operators

In [82]:
a = 10
b = 13
print (a is b)
print(a is not b)

False
True

# Handling User INPUT

In [91]:
name = input ("Enter Your Name : ")
print(name)
print("Your Name is :", name)
print(f"Your name is : {name}")

Enter Your Name :  Niraj

Niraj
Your Name is : Niraj
Your name is : Niraj

### Type Casting

In [104]:
val1 = eval(input("Enter 1st Number: "))
val2 = eval(input("Enter 2nd Number: "))
print(val1 + val2)

Enter 1st Number:  988.0
Enter 2nd Number:  87.99

1075.99

# Conditional Statements

### if, if-else, if-elif-else condition

In [120]:
a = 20
b = 30
if a >= b:
    print("A is less than B")
else:
    print("B is greater than A")

print('Go Ahead')

B is greater than A
Go Ahead

In [122]:
a = 40
b = 49

if a==b:
    print("A is Equal to B")
elif a<b: 
    print("A is less than B")
elif a>b:
    print("A is greater than B")
else:
    print("No Condition Satisfied")

A is less than B

# Simple Calculator using Python

In [126]:
val1 = eval(input("Enter 1st Number: "))
val2 = eval(input("Enter 2nd Number: "))
oper = input("Enter operator: ")

if oper == "+":
    print(val1+val2)
elif oper == "-":
    print(val1-val2)
elif oper == "*":
    print(val1*val2)
elif oper == "/":
    print(val1/val2)
else: 
    print("Invalid Operator is Entered.")

Enter 1st Number:  78.00
Enter 2nd Number:  30.41
Enter operator:  +

108.41

# Loops

### For Loop

In [142]:
for i in range(100): # prints from 0 to 99
    print(i)

print()

for i in range(1,100): # prints from 1 to 99
    print(i)

print()

for i in range(1, 100, 3): # prints from 1 to 99 by gap of 3
    print(i)

print()

for i in range(100, 0 , -1): # prints from 100 to 1 reverse
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### While Loop

In [146]:
n = 1
while n<=10: # prints from 1 to 10
    print(n)
    n = n + 1

print()

a = 1
while a < 10: # prints from 1 to 9
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

1
2
3
4
5
6
7
8
9

### Break, Continue, Pass Statements

In [149]:
for num in range(1, 10):
    if num == 5:
        break
    print(num)

1
2
3
4

In [151]:
items = [1, 2, 3, 4, 5, 6, 7]
target = 5
for item in items:
    if item == target:
        print("Item Found!!",item)
        break

Item Found!! 5

In [153]:
for num in range(1,6):
    if num == 3:
        continue
    print(num)

1
2
4
5

In [ ]:
for num in range(1,5):
    if num == 2:
        pass
    print(num)    

for num in range(1,5):
    if num == 2:
        pass

# String Manipulation

### String Indexing & Slicing

In [177]:
str = "HELLO WORLD"
print(str[1])
print(str[-1])

print(str[2:10])
print(str[1:5])

print(str[-1:-12:-2])
print(str[1:12:2])

print(str[0::2])

E
D
LLO WORL
ELLO
DRWOLH
EL OL
HLOWRD

### String Iteration

In [202]:
str = "Welcome to Niraj Github"
length = len(str)
print(length)

print()

for n in str:
    print(n)

print()

for n in range(23):
    print(str[n])

print()

for i in range(length-1, -1, -1):
    print(str[i])

23

W
e
l
c
o
m
e

t
o

N
i
r
a
j

G
i
t
h
u
b

W
e
l
c
o
m
e

t
o

N
i
r
a
j

G
i
t
h
u
b

b
u
h
t
i
G

j
a
r
i
N

o
t

e
m
o
c
l
e
W

### Common String Functions

In [213]:
str = " Niraj is My Name"
print(str.lower()) # all small
print(str.upper()) # all capital
print(str.title()) # Only 1st is of each is Capital
print(str.capitalize()) # Changes capital in small

 niraj is my name
 NIRAJ IS MY NAME
 Niraj Is My Name
 niraj is my name

### Advance String Functions

In [244]:
str = " Niraj is My Name"
print(str.find('i'))
print(str.find('i',3))

print()

print(str.find('m'))

print()

print(str.find('l'))

print()

print(str.isalpha())

print(str.isdigit())

2
7

15

-1

False
False

### Chr & Ord

In [249]:
num = 76
print(chr(num))

num = 50
print(chr(num))

L
2

In [253]:
cha = 'a'
print(ord(cha))

cha = 'L'
print(ord(cha))

97
76

### String Formatting

In [260]:
str = " Hello Python "
print(str)

str = " Hello {firstword} {secondword}".format(firstword = "Python", secondword = "Programming")
print(str)

 Hello Python
 Hello Python Programming

In [264]:
text = " Hello {0} {1}".format("Python", "Programming")
print(text)

 Hello Python Programming

# List (Data Structure)

### List Understanding

In [21]:
list1 = [10, 20, 30, 40, 50, "Python", "Snake", 10.5]
print(list1, type(list1))

print(list1[0])
print(list1[-1])
print(list1[1],list1[2])
print(list1[1:5:1])
print(list1[1::2])
print(list1[5][2])

print(len(list1))

[10, 20, 30, 40, 50, 'Python', 'Snake', 10.5] <class 'list'>
10
10.5
20 30
[20, 30, 40, 50]
[20, 40, 'Python', 10.5]
t
8

### List Iteration

In [34]:
list = [1,2,3,4,5,12,15,18,20,30,40]
length = len(list)
print(length)

for i in range(length):
    print(i, list[i])

11
0 1
1 2
2 3
3 4
4 5
5 12
6 15
7 18
8 20
9 30
10 40

In [36]:
for i in list:
    print(i)

1
2
3
4
5
12
15
18
20
30
40

In [46]:
for i in range(length-1,-1,-1):
    print(i)
    #print(i, list[i])

10
9
8
7
6
5
4
3
2
1
0

### List Comprehension

In [57]:
# Syntax of List Comprehensiom
# [expression for item in list]

list1 = []
for i in range (1,51):
    list1.append(i)
print(list1)    

print()

list2 = [ind for ind in range(1,51) if ind %2 == 1]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### List Functions

In [78]:
list = [1,2,3,4,5,12,15,18,20,30,40]
print(f"List before Deletion : {list}")

print()

del list[2]
print(list)

print()

list.pop(3)
print(list)

print()

print(list.remove(40))

print()

list.clear()
print(list)

List before Deletion : [1, 2, 3, 4, 5, 12, 15, 18, 20, 30, 40]

[1, 2, 4, 5, 12, 15, 18, 20, 30, 40]

[1, 2, 4, 12, 15, 18, 20, 30, 40]

None

[]

In [84]:
list = [1,2,3,4,5,12,15,18,20,30,40]
list.insert(2,22)
print(list)

[1, 2, 22, 3, 4, 5, 12, 15, 18, 20, 30, 40]

In [88]:
list = [1,2,3,4,5,12,15,18,20,30,40]
list.append(list2)
print(list)

[1, 2, 3, 4, 5, 12, 15, 18, 20, 30, 40, [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]]

In [110]:
list = [1,2,3,4,5,12,15,18,20,30,40]
listcount = list.count(10)
print(listcount)

print()

maxNumber = max(list)
print(maxNumber)

print()

minNumber = min(list)
print(minNumber)

print()

list.sort()
print(list)

print()

list.sort(reverse=True)
print(list)

print()

list_reverse = list.reverse()
print(list_reverse)

0

40

1

[1, 2, 3, 4, 5, 12, 15, 18, 20, 30, 40]

[40, 30, 20, 18, 15, 12, 5, 4, 3, 2, 1]

None

### List Zip Function

In [117]:
lis1 = [1, 2, 3, 4, 5]
lis2 = [6, 7, 8, 9, 10]

for a,b in zip(lis1, lis2):
    print(a,b)

print()

length = len(lis1)
for i in range(length):
    print(lis1[i], lis2[i])

1 6
2 7
3 8
4 9
5 10

1 6
2 7
3 8
4 9
5 10

### To convert string into a list

In [124]:
userInput = input("Enter the String:")
print(userInput)

list1 = userInput.split();
print(list1)

Enter the String: Niraj Welcomes you to Github

Niraj Welcomes you to Github
['Niraj', 'Welcomes', 'you', 'to', 'Github']

In [130]:
list1 = []
for n in range(1,5):
    userInput = input("Enter a String:" + str(n) + ": ")
    list1.append(userInput)
    print(userInput)
print(list1)

Enter a String:1:  Niraj

Niraj

Enter a String:2:  is

is

Enter a String:3:  using

using

Enter a String:4:  Jupyter Notebook

Jupyter Notebook
['Niraj ', 'is ', 'using', 'Jupyter Notebook']

### Stack Implementation

In [137]:
list = []
while True:
    oprInput = int(input('''
    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
    '''))
    if oprInput == 1:
        userInput = input("Enter a Value: ")
        list.append(userInput)
        print(list)
    elif oprInput == 2:
        if len(list) == 0:
            print("Empty Stack")
        else:   
            popElement = list.pop()
            print(popElement)
            print(list)
    elif oprInput ==3:
        if len(list) == 0:
            print("Empty Stack")
        else:
            print("Last Element of Stack is: ", list[-1])
    elif oprInput == 4:
        print("Display  Stack: ",list)
    elif oprInput == 5:
        break;
    else:
        print("Invalid Operation")

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     1
Enter a Value:  10

['10']

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     2

10
[]

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     12

Invalid Operation

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     1
Enter a Value:  10

['10']

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     1
Enter a Value:  20

['10', '20']

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     3

Last Element of Stack is:  20

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     10

Invalid Operation

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     4

Display  Stack:  ['10', '20']

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     1
Enter a Value:  22

['10', '20', '22']

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     2

22
['10', '20']

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     22

Invalid Operation

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     4

Display  Stack:  ['10', '20']

    1.Push Element
    2.Pop Element
    3.Peek Element
    4.Display Stack
    5.Exit
     5

### Queue Impementation

In [157]:
queue = []

while True:
    oprInput = int(input('''
    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
    '''))

    if oprInput == 1:
        userInput = input("Enter a Value: ")
        queue.append(userInput)
        print(queue)

    elif oprInput == 2:
        if len(queue) == 0:
            print("Empty Queue")
        else:   
            del queue[0]
            print(queue)

    elif oprInput == 3:
        if len(queue) == 0:
            print("Empty Queue")
        else:
            print("Front Element of Queue is:", queue[0])

    elif oprInput == 4:
        if len(queue) == 0:
            print("Empty Queue")
        else:
            print("Rear Element of Queue is:", queue[-1])

    elif oprInput == 5:
        print(queue)

    elif oprInput == 6:
        break

    else:
        print("Invalid Operation")

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     1
Enter a Value:  10

['10']

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     1
Enter a Value:  20

['10', '20']

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     1
Enter a Value:  40

['10', '20', '40']

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     1
Enter a Value:  30

['10', '20', '40', '30']

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     1
Enter a Value:  50

['10', '20', '40', '30', '50']

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     2

['20', '40', '30', '50']

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     3

Front Element of Queue is: 20

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     4

Rear Element of Queue is: 50

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     5

['20', '40', '30', '50']

    1. Push Element
    2. Pop First Element
    3. Front Element
    4. Rear Element
    5. Display Queue
    6. Exit
     6

# Dictionary (Data Structure)

### Understanding Dictionary

In [172]:
d = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python'
}

print(d)
print(d['Name'], d["Subject"])

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python'}
Niraj Python

In [182]:
for i in d:
    print(i)

Name
Age
Subject

In [186]:
for i in d:
    print(d[i])

Niraj
21
Python

In [190]:
for i in d:
    print(i, ":" , d[i])

Name : Niraj
Age : 21
Subject : Python

### Functions of Dictionary

In [196]:
d = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python'
}

print(d)
print(d.get('Subject'))

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python'}
Python

In [200]:
d = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python'
}

for i in d.keys():
    print(i)
print()
for v in d.values():
    print(v)

Name
Age
Subject

Niraj
21
Python

In [202]:
d = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python'
}

for k,v in d.items():
    print(k, v)

Name Niraj
Age 21
Subject Python

In [206]:
d = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python'
}
print(d)

del d['Age']
print(d)

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python'}
{'Name': 'Niraj', 'Subject': 'Python'}

In [210]:
d = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python'
}
print(d)

d.pop('Age')
print(d)

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python'}
{'Name': 'Niraj', 'Subject': 'Python'}

In [220]:
d =dict(Name = 'Niraj', Age = 21, Education = 'Robotics & Automation Engineer')
print(d)

print()

d.update({'Name':'Niraj Khankari'})
print(d)

print()

d['Age'] = 19
print(d)

{'Name': 'Niraj', 'Age': 21, 'Education': 'Robotics & Automation Engineer'}

{'Name': 'Niraj Khankari', 'Age': 21, 'Education': 'Robotics & Automation Engineer'}

{'Name': 'Niraj Khankari', 'Age': 19, 'Education': 'Robotics & Automation Engineer'}

### Nested Dictionary

In [230]:
student = {
    'Niraj': {"Age" : 21,"Subject" : 'Python'},
    'Awishkar': {"Age" : 52,"Subject" : 'Hybrid Vehicle'},
    'Mayur' : {"Age" : 12,"Subject" : 'Science'}
}
print(student)

print()

for k, v in student.items():
    print(k, v)

print()

for k, v in student.items():
    print(k, v['Subject'])

{'Niraj': {'Age': 21, 'Subject': 'Python'}, 'Awishkar': {'Age': 52, 'Subject': 'Hybrid Vehicle'}, 'Mayur': {'Age': 12, 'Subject': 'Science'}}

Niraj {'Age': 21, 'Subject': 'Python'}
Awishkar {'Age': 52, 'Subject': 'Hybrid Vehicle'}
Mayur {'Age': 12, 'Subject': 'Science'}

Niraj Python
Awishkar Hybrid Vehicle
Mayur Science

In [232]:
student['Mayur']['Age'] = 32
for k, v in student.items():
    print(k, v['Age'])

Niraj 21
Awishkar 52
Mayur 32

In [238]:
print(student['Mayur'])
print(student['Mayur']['Age'])

{'Age': 32, 'Subject': 'Science'}
32

# Tuple (Data Structure)

### Understanding Tuple

In [250]:
tuple = (10, 20, 30, 40, 50)
print(tuple)
print(tuple[-1])
print(tuple[1])
print(tuple, type(tuple))
print(len(tuple))

(10, 20, 30, 40, 50)
50
20
(10, 20, 30, 40, 50) <class 'tuple'>
5

In [258]:
length = len(tuple)
for a in range(length-1,-1,-1):
    print(tuple[a])

50
40
30
20
10

### Functions of Tuple

In [1]:
tuple1 = (10, 20, 30, 40, 50)

minimum = min(tuple1)
print("Minimum:", minimum)

maximum = max(tuple1)
print("Maximum:", maximum)

Minimum: 10
Maximum: 50

### Understanding Set

In [3]:
set1 = {10, 20, 30, 40, 50, 70, 60, 80, 100, 90}
print(set1)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [5]:
for r in set1:
    print(r)

100
70
40
10
80
50
20
90
60
30

In [7]:
set1.remove(100)
print(set1)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [9]:
set1.discard(11)
print(set1)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [11]:
set1.clear()
print(set1)

set()

In [13]:
set1.add(11)
print(set1)

{11}

In [15]:
set2 = {10, 25, 80}
set1.update(set2)
print(set1)

{80, 25, 10, 11}

# Functions & Modules

### Functions

In [28]:
def showMsg():
    print('Hello World')
    print('Learn Python')
    print()

showMsg()
showMsg()

Hello World
Learn Python

Hello World
Learn Python

In [34]:
def showMsg(name):
    print('Hello',name)
    print('Learn Python')
    print()

showMsg("Nathan")
showMsg("Sultan")

Hello Nathan
Learn Python

Hello Sultan
Learn Python

In [3]:
def showMsg(language, name="World"):
    print("Hello", name)
    print("Language:", language)
    print()

showMsg(name="Nathan", language="Python")
showMsg(name="Sultan", language="Java")

Hello Nathan
Language: Python

Hello Sultan
Language: Java

In [7]:
def sum(a, b):
    c = a + b
    print(c)

sum(2, 3)

result = sum(5,5)
print(result)

5
10
None

### Modules

In [ ]:
def sum(a,b):
    c = a + b
    return c
    
def sub(a,b):
    c = a - b
    return c
    
def mul(a,b):
    c = a * b
    return c
    
def div(a,b):
    c = a / b
    return c
    
def exp(a,b):
    c = a ** b
    return c

In [21]:
import mymodule

addition = mymodule.sum(10,30)
print(addition)

subtraction = mymodule.sub(10,30)
print(subtraction)

multiplication = mymodule.mul(10,30)
print(multiplication)

40
-20
300

In [23]:
import mymodule as mm

addition = mm.sum(10,30)
print(addition)

subtraction = mm.sub(10,30)
print(subtraction)

multiplication = mm.mul(10,30)
print(multiplication)

40
-20
300

### Math Module

In [34]:
import math
num1 = 10.4
num2 = 100.651
num3 = -10.0

print(math.ceil(num1))
print(math.floor(num2))
print("Floor Value :", math.floor(num2))
print(math.fabs(num3))

11
100
Floor Value : 100
10.0

In [42]:
num = 5
print("Factorial of Number is :", math.factorial(num))

print("Square Root", math.sqrt(num))

Factorial of Number is : 120
Square Root 2.23606797749979

In [40]:
list = [11, 12, 13, 14, 15]
print("Fsum",math.fsum(list))

Fsum 65.0

### Random Module

In [52]:
import random
print("Randint", random.randint(1,10))

Randint 7

In [56]:
print("Randrange", random.randrange(1,10))

Randrange 7

In [58]:
list = [10,20,30,20,50]
print("Choice", random.choice(list))

Choice 20

In [62]:
print("Any Random Between 0 to 1", random.random())

Any Random Between 0 to 1 0.001457613927853374

In [66]:
print("Shuffle",list)

Shuffle [10, 20, 30, 20, 50]

### Datetime Module

In [83]:
import datetime as dt

print(dt.datetime.now())
print(dt.datetime(2024, 7, 17))

2025-07-17 00:08:31.255386
2024-07-17 00:00:00

In [91]:
mytime = dt.datetime.now()
print(mytime.strftime("%I"))
print(mytime.strftime("%a"))
print(mytime.strftime("%A"))
print(mytime.strftime("%b"))
print(mytime.strftime("%B"))

12
Thu
Thursday
Jul
July

# Data Handling

In [98]:
# Write Data into File
import pickle
data = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python',
    "Salary" : 1000000000
}

writeData = open("my-data.txt","wb")
pickle.dump(data, writeData)
writeData.close()

In [100]:
# Read Data from File
myFile = open("my-data.txt","rb")
loadData = pickle.load(myFile)
print(loadData)

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python', 'Salary': 1000000000}

In [108]:
# Create and save a data into Byte Object

import pickle
data = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python',
    "Salary" : 1000000000
}

myData = pickle.dumps(data) # Saving into Byte Object
print(pickle.loads(myData))

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python', 'Salary': 1000000000}

### From Json

In [121]:
# Write & Read from Json File
import json
data = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python',
    "Salary" : 1000000000
}

file = open("json-data.json","w")
json.dump(data, file, indent=4)
print("Json Data is Written")

Json Data is Written

In [123]:
myFile = open("json-data.json","r")
loadedData = json.load(myFile)
print(loadedData)

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python', 'Salary': 1000000000}

In [125]:
with open("json-data.json","r") as file:
    loadedData = json.load(file)
print(loadedData)

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python', 'Salary': 1000000000}

In [129]:
import json
data = {
    "Name":'Niraj',
    "Age" : 21,
    "Subject" : 'Python',
    "Salary" : 1000000000
}

print(type(data))
jsonString = json.dumps(data, indent=4)
print("Json_String",jsonString)

<class 'dict'>
Json_String {
    "Name": "Niraj",
    "Age": 21,
    "Subject": "Python",
    "Salary": 1000000000
}

In [131]:
pythonObject = json.loads(jsonString)
print(pythonObject, type(pythonObject))

{'Name': 'Niraj', 'Age': 21, 'Subject': 'Python', 'Salary': 1000000000} <class 'dict'>

# Exception Handling

In [5]:
num1 = 10
num2 = 0

try:
    result = num1/num2
except ZeroDivisionError:
    print("Don't Divide it by Zero, Try Again")
else:
    print(result)
finally:
    print("Execution Completed.")

Don't Divide it by Zero, Try Again
Execution Completed.

In [19]:
num1 = int(input("Enter a first number: "))
num2 = int(input("Enter a second number: "))

try:
    result = num1/num2
except TypeError as e:
    print("An Error Occured {e}")
else:
    print(result)
finally:
    print("Execution Completed.")

Enter a first number:  12
Enter a second number:  1

12.0
Execution Completed.

In [13]:
num1 = int(input("Enter a first number: "))
num2 = int(input("Enter a second number: "))

try:
    result = num1/num2
except (TypeError, ZeroDivisionError) as e:
    print("An Error Occured {e}")
else:
    print(result)
finally:
    print("Execution Completed.")

Enter a first number:  10
Enter a second number:  0

An Error Occured {e}
Execution Completed.

In [15]:
num1 = int(input("Enter a first number: "))
num2 = int(input("Enter a second number: "))

try:
    result = num1/num2
except Exception as e:
    print("An Error Occured {e}")
else:
    print(result)
finally:
    print("Execution Completed.")

Enter a first number:  10
Enter a second number:  0

An Error Occured {e}
Execution Completed.